<section data-ng-controller="HomeController">
	<div style="text-align:left;">
		<div class="col-lg-12">
				<h2>CV</h2>
				<hr>
				<div style="text-align:center">
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Født:</strong></p><p style="text-align:left;">19.11.1991, Trondheim</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Adresse:</strong></p><p style="text-align:left;">Smørblomstvegen 31, 7050 Trondheim</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Telefon:</strong></p><p style="text-align:left;">+47 48 21 27 55</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Epost:</strong></p><p style="text-align:left;">jmolsen91@gmail.com</p><br>
				</div>
				<h3>Utdanning</h3>
				<hr>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2014 – nå</strong></p><p style="text-align:left;">2-årig mastegrad i informatikk, software, NTNU</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2011 – 2014</strong></p><p style="text-align:left;">Bachelor i Dataingeniør v/ Høgskolen i Sør-Trøndelag</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2010 – 2011</strong></p><p style="text-align:left;">Tactical Control Assistant, Luftvernbataljonen Ørland, Forsvaret</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2007 – 2010</strong></p><p style="text-align:left;">Oppdal Videregående Skole - Idrettsfag</p><br>
				<h3>Arbeidserfaring</h3>
				<hr>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Januar 2015 – nå</strong></p><p style="text-align:left;">Studentkontakt ved Instituttet for Datateknologi og Informatikk, NTNU
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Juni 2015 – August 2015</strong></p><p style="text-align:left;">Sommerjobb i Computas AS</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Oktober 2014</strong></p><p style="text-align:left;">Representant for IDI/NTNU under HiST sin karrieredag 2014 </p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Oktober 2014</strong></p><p style="text-align:left;">Representant for IDI/NTNU under infomøte med avagangselever v/ HiST</p><br>
				<p class="col-sm-2 personalia " style="text-align:right;"><strong>Juni 2014 - Desember 2014</strong></p><p style="text-align:left;">Konsulent/Systemutvikler for Academic Work hos Industry Media Group</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>Mars 2012 - Mai 2014</strong></p><p style="text-align:left;">Medarbeider, Rimi Valentinlyst, Trondheim</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2010 - 2012</strong></p><p style="text-align:left;">Kundebehandler og service på pc/mobil, Officer Oppdal</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2008 - 2010</strong></p><p style="text-align:left;">Medarbeider, Oppdalsporten, Oppdal</p><br>
				<h3>Annen erfaring</h3>
				<hr>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>August 2014 - nå</strong></p><p style="text-align:left;">Medlem av fag- og kurskomitéen, Linjeforeningen for Informatikk, Online</p><br>
				<p class="col-sm-2 personalia" style="text-align:right;"><strong>2012</strong></p><p style="text-align:left;">Hovedfadder for dataingeniør under Quak!2012 fadderuken</p><br>
				<h3>Kvalifikasjoner</h3>
				<hr>
				<h5><strong>Teknologier:</strong><h5>
					<ul style="font-weight: 400!important;">
						<li>Java</li>
						<li>Javascript, Angular.js, Node.js, Express.js</li>
						<li>HTML, CSS</li>
						<li>PHP</li>
						<li>C# .NET</li>
						<li>Xamarin, Android</li>
						<li>MySQL, MongoDB</li>
					</ul>
				<h5><strong>Språk:</strong><h5>
					<p>
					<ul style="font-weight: 400!important;">
						<li>Norsk (flytende muntlig, særdeles godt skriftlig)</li>
						<li>Engelsk (flytende muntlig, særdeles godt skriftlig)</li>
					</ul>
				<p>Førerkort klasse BE, M, T</p>
				<strong>Referanser gis ved forespørsel</strong>
				</p>
		</div>
</section>
