<section data-ng-controller="HomeController">
	<div class="container" id="contentHome">
	<div class="row" style="margin-bottom:50px; text-align:left;">
		<div class="col-lg-12">
				<h2>Om meg</h2>
				<hr>
				<p>23 år gammel nerd fra Oppdal som liker å drikke øl, trene, sosialisere, høre på musikk og trykke på knappene på datamaskinen min.
					Jeg har en bacherlorgrad i dataingeniør fra HiST
					og er for øyeblikket inne i mitt femte år på master i Informaikk på NTNU. Jeg liker å lage nettsider og mobilapplikasjoner på
					fritiden, og tar gjerne på meg freelance oppdrag for de som f.eks. trenger en liten blogg/nettside. Jeg får ofte tanker
					og erfaringer mens jeg sitter og koder, og vil muligens dele noen av disse på bloggen min her.
				</p>
		</div>
	</div>
	<div class="row" style="margin-top:50px;text-align:left;">
		<div class="col-lg-12">
				<h2>Ting jeg har laget</h2>
				<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
				<img src="/modules/core/img/game.png" style="width:100%;" alt="">
		</div>
		<div class="col-lg-4">
				<img src="/modules/core/img/safe.png" style="width:100%;" alt="">
		</div>
		<div class="col-lg-4">
				<img src="/modules/core/img/submarine.png" style="width:100%;" alt="">
		</div>
		<div class="col-lg-4">
			<img src="/modules/core/img/submarine.png" style="width:100%;" alt="">
		</div>
		<div class="col-lg-4">
				<img src="/modules/core/img/game.png" style="width:100%;" alt="">
		</div>
		<div class="col-lg-4">
			<img src="/modules/core/img/safe.png" style="width:100%;" alt="">
		</div>
	</div>
	<div class="row" style="margin-top:50px;margin-bottom:50px; text-align:left;">
		<div class="col-lg-12">
			<h2>Kontakt meg</h2>
			<hr>
				<div class="col-lg-4">
					<h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; jmolsen91@gmail.com <br><br>
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; +47 48 21 27 55</h4>
			</div>
				<div class="col-lg-4" style="text-align:center;">
					<br>
					<a href="https://no.linkedin.com/pub/jan-michael-olsen/40/842/587"><i class="fa fa-linkedin fa-3x"></i></a>
					&nbsp;&nbsp;
					<a href="https://twitter.com/Olsenlisj"><i class="fa fa-twitter fa-3x"></i></a>
					&nbsp;&nbsp;
					<a href="https://github.com/Janmichaelolsen"><i class="fa fa-github fa-3x"></i></a>
				</div>
		</div>
	</div>
</div>
</section>
