.content {
  margin-bottom:50px;
  margin-top:70px;
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
p {
  font-weight: 400;
}
.row {
  text-align:center;
}

#header {
  background-image: url('/modules/core/img/gjevil.png');
  background-size:cover;
  margin-right:0px!important;
  margin-left:0px!important;
  font-family: 'Raleway', sans-serif;
}

@media (min-width:1200px){
  .headercontent {
    margin-bottom: -50px!important;
  }
}

@media (max-width:1200px){
  #profile {
    display:none;
  }
  .headercontent{
    margin-top: 70px!important;
    text-align:center!important;
  }
  .navbar {
     background: rgba(0,0,0,0.7)!important;
  }
  .content {
    margin-top:20px;
  }
}

.navbar {
   background: rgba(0,0,0,0.4);
}

.navbar .sticky{
   background: rgba(0,0,0,0.6);
}
.navbar-default .navbar-nav > li > a {
  color:white!important;
}
