<section data-ng-controller="ArticlesController" data-ng-init="find()">
		<a class="btn btn-success" href="/#!/blog/create" data-ng-show="authentication.user">Create</a><br>
		<div data-ng-repeat="article in articles">
			<small style="float:right">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<br>
			<a class="h2"data-ng-bind="article.title" ng-href="#!/blog/{{article._id}}"></a>
			<hr>
			<p class="list-group-item-text" ng-bind-html="article.content"></p>
			<hr>
		</div>
</section>
